<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ DEFAULT_LANG }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ DEFAULT_LANG }}" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Perth Parkour</title>
        <link rel="stylesheet" type="text/css" href="css/gunn.css">
        <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">

    </head>
    <body>
        <div class="off-canvas-wrap" data-offcanvas>
	        <div class="inner-wrap">

                <div class="main">
                    
                    <!--nav class="tab-bar show-for-small">
                        <section class="left-small">
                            <a class="left-off-canvas-toggle menu-icon"><span></span></a>
                        </section>
                        <section class="middle tab-bar-section mobile-title">
                            PERTH PARKOUR
                        </section>
                        <section class="right-small">
                            <a class="magnifying-glass-icon"><span></span></a>
                        </section>
                    </nav>
                    <aside class="left-off-canvas-menu" aria-hidden="true">
                        <ul class="off-canvas-list">
                            <li><label>Navigation</label></li>
                            <li><a href="/">home</a></li>
                            <li class="">
                                <a href="/projects/">projects</a>
                            </li>
                            <li class="">
                                <a href="/writing/">writing</a>
                            </li>
                            <li class="">
                                <a href="/about/">about</a>
                            </li>
                        </ul>	
                    </aside-->

                    <div class="top-bar show-for-medium" data-topbar>

                        <ul class="top-bar-right menu">
                            <li>
                                <a class="link-orange" href="blog.html" class="">BLOG</a>
                            </li>
                            <li>
                                <a class="link-yellow" href="#" class="">ABOUT&nbsp;US</a>
                            </li>
                            <li>
                                <a class="link-green" href="#" class="">CLASSES</a>
                            </li>
                            <li>
                                <a class="link-blue" href="#" class="">SERVICES</a>
                            </li>
                            <li>
                                <a class="link-purple" href="#" class="">CONTACT</a>
                            </li>
                        </ul>

                        <ul class="top-bar-left menu">
                            <li>
                                <a href="index.html"><img src="images/logo.svg"/></a>
                            </li>
                        </ul>
                    </div>	

                    <a class="exit-off-canvas" href="#"></a>

                    <div class="hero-blog"><div class="hero-inner">
                        <span class="hero-caption">LISTEN TO US.</span>
                    </div></div>

                    <div class="row content">
                        <div class="large-9 columns">
                        
                        <div class="row"><div class="large-12 columns">

                            <h3>1 Weird Old Tip to Punch The Monkey Now, My Lord? The Answer Will Shock You!</h3>
                            <p><em>By <a href="#">Armitage Shanks</a> - 16th December 2015</em></p>

                            <p>But they had not gone twenty yards when they stopped short. An uproar of voices was coming from the farmhouse. They rushed back and looked through the window again. Yes, a violent quarrel was in progress. There were shoutings, bangings on the table, sharp suspicious glances, furious denials. The source of the trouble appeared to be that Napoleon and Mr. Pilkington had each played an ace of spades simultaneously.</p>
                            <p>Twelve voices were shouting in anger, and they were all alike. No question, now, what had happened to the faces of the pigs. The creatures outside looked from pig to man, and from man to pig, and from pig to man again; but already it was impossible to say which was which.</p>
                            <p><strong>Tags:</strong> <a href="#">waste</a>, <a href="#">oxygen</a></p>
                            <p><a href="#">Read more</a> - <a href="#">0 comments</a></p>
                        </div></div>


                        <div class="row"><div class="large-12 columns">
                            <h3>Welcome to the Perth Parkour Blog</h3>
                            <p><em>By <a href="#">Armitage Shanks</a> - 10th December 2015</em></p>

                            <p>That evening Squealer explained privately to the other animals that
Napoleon had never in reality been opposed to the windmill. On the
contrary, it was he who had advocated it in the beginning, and the plan
which Snowball had drawn on the floor of the incubator shed had actually
been stolen from among Napoleon's papers. The windmill was, in fact,
Napoleon's own creation. Why, then, asked somebody, had he spoken so
strongly against it? Here Squealer looked very sly. That, he said, was
Comrade Napoleon's cunning. He had SEEMED to oppose the windmill, simply
as a manoeuvre to get rid of Snowball, who was a dangerous character and a
bad influence. Now that Snowball was out of the way, the plan could go
forward without his interference. This, said Squealer, was something
called tactics. He repeated a number of times, "Tactics, comrades,
tactics!" skipping round and whisking his tail with a merry laugh. The
animals were not certain what the word meant, but Squealer spoke so
persuasively, and the three dogs who happened to be with him growled so
threateningly, that they accepted his explanation without further
questions. </p>
                            <p><strong>Tags:</strong> <a href="#">comrades</a>, <a href="#">pigs</a></p>
                            <p><a href="#">Read more</a> - <a href="#">0 comments</a></p>
                        </div></div>
                        
                        </div>
                        <form>
                        <div class="large-3 columns"><div class="callout">
                            <input type="text" placeholder="Search the archives"/>
                            <ul class="vertical menu" data-accordion-menu>
                            <li>
                                <a href="#">2015</a>
                                <ul class="menu vertical nested is-active">
                                <li>
                                    <a href="#">December</a>
                                    <ul class="menu vertical nested is-active">
                                    <li><a href="#">14</a></li>
                                    <li><a href="#">12</a></li>
                                    <li><a href="#">6</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">November</a></li>
                                <li><a href="#">October</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">2014</a>
                                <ul class="menu vertical nested">
                                <li><a href="#">December</a></li>
                                <li><a href="#">November</a></li>
                                </ul>
                            </li>
                            </ul>
                        </div></div>
                        </form>

                    </div>

                </div>
                <div class="footer">
                    <div class="row">
                        <div class="large-9 medium-9 medium-text-left text-center columns">
                            <p>
                                <span class="footer-copy">© 2015 PERTH PARKOUR INC</span>&nbsp;&nbsp;&nbsp;
                                <span class="footer-abn">ABN 54 934 485 134</span>
                            </p>
                        </div>
                        <div class="large-3 medium-3 medium-text-right text-center columns">
                            <p>
                                <a class="link-cyan" title="Twitter" href="https://twitter.com/perth_parkour"><i class="fa fa-twitter"></i></a>&nbsp;
                                <a class="link-blue" title="Facebook" href="https://www.facebook.com/perthparkour"><i class="fa fa-facebook-official"></i></a>&nbsp;
                                <a class="link-purple" title="Instagram" href="https://www.instagram.com/perth_parkour"><i class="fa fa-instagram"></i></a>&nbsp;
                                <a class="link-yellow" href="#"><i class="fa fa-envelope"></i></a>  

                            </p>
                        </div>
                    </div>
                </div>
            </div> <!--inner-wrap-->
        </div> <!--off-canvas-wrap-->

        <script type="text/javascript" src="bower_components/modernizr/modernizr.js"></script>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="js/gunn.js"></script>
    </body>
</html>
